/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-w: #fff;
  --color-gray: #5c5c5c;
  --color-offwhite: #f8f8f5;
  --input-color: #d9d9d9;
  --accent-blue: #0034ab;
  --accent-orange: #ff5c00;
  --font-big: "Konkhmer Sleokchher", system-ui;
  --font-fancy: "Gentium Plus", system-ui;
  --font-normal: "Geologica", sans-serif;
}

body {
  font-family: system-ui;
}

main {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.logo-container {
  position: fixed;
  top: 20px;
  right: 0px;
  width: 200px;
  height: auto;
  z-index: 10;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.left-section {
  flex: 1;
  background: url("src/img/BG.png") no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--color-w);
  z-index: 1;
}

nav {
  position: absolute;
  top: 20px;
  left: 20px;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--accent-orange);
  margin: 6px 0;
}

.nav-items {
  position: relative;
  list-style: none;
  margin-top: 10px;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  border-radius: 1em;
  z-index: 999;
}

.nav-items.show {
  display: block;
  z-index: 999;
}

.nav-items li {
  margin-bottom: 15px;
  z-index: 999;
}

.nav-items li a {
  color: var(--color-w);
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s;
  z-index: 999;
}

.nav-items li a:hover {
  color: var(--accent-orange);
  z-index: 999;
}

.overlay-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: 0.5s ease;
  text-align: center;
  opacity: 0.6;
  z-index: 1;
}

.overlay-text h1 {
  font-size: 10rem;
  font-weight: bold;
  font-family: var(--font-big);
}

.overlay-text p {
  position: relative;
  top: -5rem;
  font-size: 1.5rem;
  font-family: var(--font-fancy);
  font-style: italic;
}

.announcement {
  padding: 1rem;
  margin: 1rem;
  max-height: 60%;
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: rgba(0, 51, 171, 0.32);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  letter-spacing: -0.48px;
  text-align: justify;
  font-size: 1.2rem;
  font-family: var(--font-fancy);
}

.announcement h2 {
  margin-bottom: 1rem;
  font-size: 1.8vw;
}

.announcement strong,
p {
  font-size: 1.2vw;
}

.announcement-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  flex-wrap: wrap;
  flex: auto;
}

.announcement-text a {
  color: #2e97fa;
}

.arrow-icon {
  align-items: center;
  aspect-ratio: 0.5;
  object-fit: contain;
  object-position: center;
  width: 15px;
}

.more-icon {
  aspect-ratio: 4.5;
  object-fit: contain;
  object-position: center;
  width: 35px;
  align-self: center;
  margin-top: 1rem;
}

.right-section {
  font-family: var(--font-normal);
  flex: 1;
  background-color: var(--color-offwhite);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  background-color: var(--color-w);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form .accent-text {
  color: var(--accent-orange);
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  font-family: var(--font-normal);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 13px;
}

.login-btn {
  font-family: var(--font-normal);
  background-color: var(--accent-orange);
  color: var(--color-w);
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.extra-options {
  text-align: center;
  margin-top: 15px;
}

.extra-options a {
  color: var(--color-gray);
  text-decoration: none;
}

.extra-options a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
  .overlay-text {
    transform: translate(-50%, -50%); /* Align horizontally */
  }
  .announcement {
    max-height: 50%;
  }

  .announcement h2 {
    font-size: 2vw;
  }

  .announcement p,
  strong {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column; /* Stack sections vertically */
  }

  .left-section,
  .right-section {
    width: 100%; /* Ensure sections take up full width */
    padding: 20px; /* Add padding to ensure content does not hit screen edges */
  }

  .overlay-text {
    top: 20%; /* Adjust overlay text position for better visibility on mobile */
    left: 50%;
    transform: translate(-50%, 0); /* Align horizontally */
    transition: 0.2s ease;
  }

  .overlay-text h1 {
    font-size: 5em; /* Reduce heading size */
  }

  .overlay-text p {
    font-size: 1.2rem; /* Reduce paragraph size */
    top: -2em;
  }

  .announcement {
    display: none; /* Hide the announcement section */
  }

  .logo-container {
    width: 125px; /* Reduce logo size */
    top: 10px;
    right: -px; /* Move logo further to the right */
  }

  .hamburger-menu span {
    width: 25px; /* Reduce hamburger menu size */
  }
}

@media only screen and (max-width: 480px) {
  .logo-container {
    width: 90px; /* Reduce logo size */
    top: 10px;
    right: -px; /* Move logo further to the right */
  }

  .overlay-text {
    top: 25%; /* Adjust overlay text position for better visibility on mobile */
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.2s ease; /* Align horizontally */
  }

  .overlay-text h1 {
    font-size: 4em; /* Further reduce heading size */
  }

  .overlay-text p {
    font-size: 1rem; /* Further reduce paragraph size */
  }
}
